.header-os {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {

  --padding-start: 5px;
  --padding-end: 5px;
  font-size: 12px;
  size: 100%
}

/* Center the buttons and adjust their spacing */
.ion-justify-content-center {
  justify-content: center;
}

/* Increase the space between the buttons */
ion-col[size="5"] {
  margin: 0.5rem;
}

h5 {
  background-color: #ccc;
  padding-left: 6px;
}

ion-card-content {
  font-size: 12px;
  padding-top: 0%;
  padding-left: 1px;
  padding-right: 1px;

  // ion-col {
  //   border: solid 1px #ccc;
  //   text-align: start;
  // }
}




.grid-button {
  //display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
}


ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 100%;
  font-size: x-small;
}


.content {
  margin-top: 10px;
  margin-left: 5px;

}

ion-icon[name="calendar"] {
  font-size: 2rem;
  /* Aumenta o tamanho do ícone */
  margin: 0 auto;
  /* Centraliza o ícone horizontalmente */
}

.medium-button {
  width: 50%;
  /* Defina o tamanho desejado */
  margin:0 auto;
  /* Centralize o botão horizontalmente */
}

ion-img {
  height: 50px;
  padding: 1px 30px;
}
/* Adicione uma margem inferior à classe calendario-row para separá-la dos botões */
.calendario-row {
  margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

/* Adicione uma margem superior à classe button-row para separar os botões */
.button-row {
  margin-top: 10px; /* Ajuste o valor conforme necessário */
}