<p>
  hello-adminstrador works!
</p>
<ion-header>
  <ion-toolbar>
    
      <ion-menu-button slot="start" color="primary"></ion-menu-button>
      <ion-img src="../../../../assets/images/Logo-transparente.png"></ion-img>
    
  </ion-toolbar>
</ion-header>


    
  <div>
    <img src="../../assets/images/prestador.PNG"  >
  </div>
  
  
  <div align="center" style= "padding-top:10px; font-size:medium;"> 
    <p> Bem vindo Administrador! </p> 
    
  </div>

  <app-read-usuarios></app-read-usuarios>
