.header {
  display: flex;
  align-items: flex-end;
  text-align: right;
  max-width:50%;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 100%;
    font-size: x-small;
  }

 
.content{
  margin-top : 15px;
  margin-left: 5px; 
  font-size: 60%;
}

table{
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 95%;
  margin-left: 5px;
    
}

table th {
  background-color: #ccc;
}

table th, td{
  padding : 2px;
}

ion-grid ion-row ion-col img {
  max-height : 50px;
  padding: 1px 30px;
}