<ion-content fullscreen="true">
  <ion-card>

    <ion-grid style="margin: 100px;">
      <ion-img src="../../../../assets/images/Logo-transparente.png" alt="logo"> </ion-img>
      <div class="avatar-user">
      </div>
    </ion-grid>

    <p>Eu sou?</p>
    <br>
    <br>

    <ion-chip color="tertiary"  routerLink="/home" >
      <ion-avatar>
        <img src="../../../../assets/icon/icon-cliente.png" alt="icon-cliente"/>
      </ion-avatar>
      <ion-label>Cliente</ion-label>
    </ion-chip>

    <ion-chip color="tertiary" routerLink="/tela-inicial-prestador" >
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="../../../../assets/icon/icon-prestador.png" alt="icon-prestador"/>
      </ion-avatar>
      <ion-label>Prestador</ion-label>
    </ion-chip>

  </ion-card>

</ion-content>