.card{
   font-family: 'Roboto', sans-serif;
   font-size: 12px; 
   padding-top: 50%;
   background-color: #ffff;
   height: 100vh;
 
}
.sublinhado{
   justify-content: center;
   font-size: 10px; 
   font-style: italic;
   font-weight: 500 ;
   text-decoration: underline;
      ion-button{
         text-transform: none;
      }
   
}
img{
   justify-content: center;
   padding-bottom: 15%;
}




