
ion-content {
    width: 100%;
  }
  
  /* Center the buttons and adjust their spacing */
  .ion-justify-content-center {
    justify-content: center;
  }
  
  /* Increase the space between the buttons */
  ion-col[size="5"] {
    margin: 0.5rem;
  }



// #container {
//     font-family: 'Roboto', sans-serif;
//     text-align: center;
//     background-repeat: no-repeat;
//     position: center;
//     left: 0;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
// }

// #container strong {
//     font-size: 12px;
//     line-height: 26px;
// }

// #container p {
//     font-family: 'Roboto', sans-serif;
//     font-size: 16px;
//     line-height: 22px;

//     color: #8c8c8c;

//     margin: 0;
// }

// #container a {
//     text-decoration: none;
// }

// ion-item {
//     font-family: 'Roboto', sans-serif;
//     font-size: 12px;
// }

// #title1 {
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 21px;
//     text-align: center;
// }

// #title2 {
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 21px;
// }
