.card{
   align-items: center;
   font-family: 'Roboto', sans-serif;
   font-size: 12px; 
   padding-top: 50%;
}
.ion-text-wrap{
    text-align: center;
    margin: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 20%;
}
.ion-text-wrap2{
    text-align: center;
    margin: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 20%;
}