<ion-content fullscreen="true">

  <ion-card-content class="card">



  </ion-card-content>



  </ion-content>
    <!-- <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="../../../../assets/images/Logo-transparente.png">
    
    </div>

    <div class="ion-text-wrap">
      <h4>Esqueceu a senha?</h4>
    </div>

    <div class="ion-text-wrap2">
       <h4>Digite seu email abaixo para redefinir sua senha.</h4>
    </div>

    <ion-card-content>
      <ion-item fill="outline" style=" margin-bottom: 10px;">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Email: </ion-label>
        <ion-input type="email" ngModel email></ion-input>
        <ion-note slot="error">E-mail inválido</ion-note>                 
      </ion-item>
    </ion-card-content>
    
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button size="small" fill="solid" color="primary" expand="block" routerLink="/redefinir-senha">Enviar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button size="small" fill="outline" color="primary" expand="block" routerLink="/login">Voltar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content> -->


