<ion-card-content class="card">

  <br><br><br><br>

  <ion-card-header [translucent]="true">
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">

      <img src="../../../../assets/images/Logo-transparente.png" alt="logo">
    </div>
  </ion-card-header>
<br><br>

<div class="ion-justify-content-center texto">
<p align="center">Aplicativo de serviços de limpeza para Londrina e Região.</p>

<br><br>
<p align="center">EmpreGET startup de soluções inovadoras para o mercado que acredita em um mundo cada vez mais ágil e conectado.</p>
</div>

<br><br><br>




  <br><br>
  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <ion-col size="6">
        <ion-button shape="round" fill="outline" color="primary" class="custom-button"
          routerLink="/hello">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>