<ion-card color="light">

  <ion-card-header>
    <ion-card-title>
      <b>Meus Dados:</b>
    </ion-card-title>
    <ion-label>
      <p>Ultima atualização:{{dataAtualizacao}} </p>
    </ion-label>
  </ion-card-header>

  <ion-card-content>
    <ion-list>

      <!-- Nome -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Nome completo:</ion-label>
          <ion-input type="text"[ngModel]="cliente?.nome" (keyup)="onMudouNome($event)"></ion-input> 
          
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- rg -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">RG:</ion-label>
           <ion-input type="text"[ngModel]="cliente?.rg" (keyup)="onMudouRG($event)"></ion-input> 
           
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- cpf -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">CPF:</ion-label>
             <ion-input type="text" [ngModel]="cliente?.cpf" (keyup)="onMudouCPF($event)"></ion-input> -
         
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Logradouro numero  -->

      <ion-row>

        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Logradouro:</ion-label>
            <ion-input type="text" [ngModel]="cliente?.endereco?.logradouro" (keyup)="onMudouEnderecoLogradouro($event)"></ion-input> 
  
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Número:</ion-label>
             <ion-input type="number" maxlength="6" [ngModel]="cliente?.endereco?.numero" (keyup)="onMudouEnderecoNumero($event)"></ion-input> 
            

          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Complemento:</ion-label>
             <ion-input type="text" [ngModel]="cliente?.endereco?.complemento" (keyup)="onMudouEnderecoComplemento($event)"></ion-input> 
           
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- cep-bairro -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">CEP:</ion-label>
         <ion-input type="text" [ngModel]="cliente?.endereco?.cep" (keyup)="onMudouEnderecoCep($event)"></ion-input> 
      
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Bairro:</ion-label>
           <ion-input type="text" [ngModel]="cliente?.endereco?.bairro" (keyup)="onMudouEnderecoBairro($event)"></ion-input> 
       
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- cidade estado pais -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Cidade:</ion-label>
            <ion-input type="text" [ngModel]="cliente?.endereco?.cidade" (keyup)="onMudouEnderecoCidade($event)"></ion-input> 
           
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="width: 150px">
            <ion-item>
              <ion-label position="floating" class="texto">Estado:</ion-label>
              <ion-input type="text" maxlength="2" [ngModel]="cliente?.endereco?.estado" (keyup)="onMudouEnderecoEstado($event)"></ion-input>
             
             
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 150px">
            <ion-item>
              <ion-label position="floating" class="texto">País:</ion-label>
               <ion-input type="text" maxlength="3" [ngModel]="cliente?.endereco?.pais" (keyup)="onMudouEnderecoPais($event)"></ion-input> 
            
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <!-- Telefone -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="texto">Telefone</ion-label>
            
            <ion-input type="tel" placeholder="0xx-9xxxx-xxxx"[ngModel]="cliente?.telefone" (keyup)="onMudouTelefone($event)"></ion-input> 
            
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-list>
  </ion-card-content>
</ion-card>
